@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font utility classes */
.font-montserratLight {
  font-family: Montserrat-Light, Montserrat;
}

.font-montserratRegular {
  font-family: Montserrat-Regular, Montserrat;
}

.font-montserratMedium {
  font-family: Montserrat-Medium, Montserrat;
}

.font-montserratSemibold {
  font-family: Montserrat-SemiBold, Montserrat;
}

.font-montserratBold {
  font-family: Montserrat-Bold, Montserrat;
}

.font-montserratBlack {
  font-family: Montserrat-Black, Montserrat;
}

.italicMontserratMedium {
  font-family: Montserrat-Medium, Montserrat;
  font-style: italic;
}

/* 
.sheet-title {
  @apply text-[38px] font-bold leading-[36px] tracking-[-0.5px] text-foreground;
}

.section-title {
  @apply text-[24px] leading-[36px] tracking-[-0.5px] text-foreground;
}

.tat-body-1 {
  font-size: 16px;
  line-height: 23px;
  font-family: NeueHaasDisplay, Montserrat;
}
.tat-body-2-para {
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  font-family: NeueHaasDisplay, Montserrat;
}
.tat-body-2-light {
  font-size: 14px;
  line-height: 23px;
  font-family: NeueHaasDisplay, Montserrat;
}
.tat-body-2-med {
  font-size: 14px;
  line-height: 23px;
  font-family: Montserrat-Medium, Montserrat;
}
.ta-body-2-semibold {
  font-size: 14px;
  line-height: 23px;
  font-family: Montserrat-SemiBold, Montserrat;
}

.ta-body-3-button-text {
  font-size: 12px;
  line-height: 23px;
  font-family: Montserrat-SemiBold, Montserrat;
}

.ta-body-4 {
  font-size: 11px;
  line-height: 130%;
  font-family: Montserrat-SemiBold, Montserrat;
  background-color: #00000093;
}

.tat-gray {
  color: #a49a99;
  font-family: NeueHaasDisplay, Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.bold-montserrat-18 {
  font-family: Montserrat-Black, Montserrat;
  font-weight: 900;
  font-style: Black;
  font-size: 18.26px;
  line-height: 30px;
  letter-spacing: 0px;
  vertical-align: middle;
}


.label {
  font-size: 14px;
  line-height: 23px;
  font-family: Montserrat-Medium, Montserrat;
  font-weight: 600;
  color: #A49A99;
  font-style: normal;
}


 */





/* color */
.tat-foreground-gray {
  background-color: #100C0C;
}

.tat-error {
  background-color: #FF4C4C;
}

.bg-tat-text-white {
  background-color: #D9D9D9;
}